/* stylelint-disable max-line-length */
@font-face {
  font-display: swap;
  font-family: Lloyds Jack Regular;
  font-style: normal;
  src: local("Lloyds Jack Regular"),local("lloyds_bank_jack-regularWEB"),url(../fonts/lloyds_bank_jack-regularWEB.woff2) format("woff2");
  text-rendering:optimizeLegibility}

@font-face {
  font-display: swap;
  font-family: Lloyds Jack Medium;
  font-style: normal;
  src: local("Lloyds Jack Medium"),local("lloyds_bank_jack-mediumWEB"),url(../fonts/lloyds_bank_jack-mediumWEB.woff2) format("woff2");
  text-rendering:optimizeLegibility}

@font-face {
  font-display: swap;
  font-family: Lloyds Jack Light;
  font-style: normal;
  src: local("Lloyds Jack Light"),local("lloyds_bank_jack-lightWEB"),url(../fonts/lloyds_bank_jack-lightWEB.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Lloyds Jack Bold;
  font-style: normal;
  src: local("loyds Jack Bold"),local("lloyds_bank_jack-boldWEB"),url(../fonts/lloyds_bank_jack-boldWEB.woff2) format("woff2");
}